<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="MiscrosoftSpeechAPI_SubscriptionKey" value="c354158d7dde4e70a10fd8418f70ec89"/>-->
    <add key="MiscrosoftSpeechAPI_SubscriptionKey" value="0ef2a81318af474383b1221b44cd7ae2"/>    
    <add key="MiscrosoftSpeechAPI_SubscriptionRegion" value="westus"/>      
    
    <add key="RecordingStoragePath" value="F:\SpeechRecordings\"/>
    <add key="RecordingNamePrefix" value="SpeechRecording_"/>  
    <add key="ProcessedFilesPath" value="F:\SpeechRecordings\ProcessedFiles\"/>  
    <add key="FailedFilesPath" value="F:\SpeechRecordings\FailedFiles\"/>
    
    <add key="AudioSampleRate" value="16000"/>
    <add key="MinRecordSeconds" value="5"/>
    <add key="MaxRecordSeconds" value="0"/>

    <!-- SpeechServiceType 1:SDK, 2:API -->
    <add key="SpeechServiceType" value="1"/>

    <!-- To EnableAutoSaveReponseToFile set values as 1. Saves converted text to file & places in ProcessedFilesPath -->
    <add key ="EnableAutoSaveReponseToFile" value="1"/> 
    
    <!-- To EnablePrint option set values as 1 -->
    <add key ="EnablePrint" value="1"/> 
    
    <!-- HomePage 1:Record & ConvertToText, 
         2:Select AudioFile & ConvertToText -->
    <add key="HomePage" value="2"/>  
    
  </appSettings>
</configuration>